{{define "header"}}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> .....</title>
    <link href="../assets/css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <header>
            <nav>
                <p id="pnav">
                <a class="alink" href="/">Home</a> ||
                <a class="alink" href="/get">Information</a> ||
               <a class="alink" href="/contact">Contact</a>
            </p>
            </nav>
    </header>
    <br/>
    <hr/>

    {{end}}